.lottery {
	display: none;
	height: 100%;
	width: 100%;

	.number-zone {
		.timeline-zone {
			background-color: #F5F6FA;
			height: 120px;
			padding: 0;
		}
	}

	.bet-model-zone {
		background-color: #FBFBFB;
		border: 1px solid #EBEBED;
	}

	.summary-zone {
		height: 200px;
		width: 100%;
		padding-right: 10px;
		padding-left: 10px;
    
		.full-height {
			height: 100%;
		}

		.betting-order-zone {
			height: 100%;
			padding-bottom: 10px;
		}

		.chase-bumber-zone {
			height: 100%;
			margin-top: 5px;
			padding-bottom: 10px;
		}

		.comfirm-bet-zone {
			height: 100%;
			margin-top: 5px;
			padding-bottom: 10px;
		}
	}
}

@media screen and (max-width: 1260px) {
	.lottery {
		.summary-zone {
			.comfirm-bet-zone {
				margin-left: -5px;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.lottery {
		.summary-zone {
			.comfirm-bet-zone {
				margin-left: -6px;
			}
		}
	}
}

@media screen and (max-width: 1050px) {
	.lottery {
		.model-zone {
			margin-left: 30px;
			
			.row {
				margin-left: -25px;
			}

			.turnover-bonus-select {
				button {
					padding-left: 0;
				}
			}
		}
	}
}