.trend-view {
	margin: 10px auto;
	margin-top: 0;
	padding: 0;
	width: 1200px;

	.canvas {
		position: absolute;
		z-index: -1;
		background: $theme-bk-color;
		left: 0;
		right: 0;
		height: 100px;
	}

	.lotterys {
		background-color: $theme-bk-color;
		font-size: .8em;
		margin: 10px 0;

		.col-md-2 {
			line-height: 40px;
			padding-left: 0;

			.lottery-item {
				color: #FFF;
				cursor: pointer;
				padding: 5px 10px;
			}

			.selected {
				background-color: #FFF;
				border-radius: 15px;
				color: $theme-bk-color;
			}
		}
	}

	.playing-familys {
		background-color: #F5F6FA;
		border-bottom: 1px solid #EDEEF0;
		font-size: .8em;
		margin-left: 0px;
		margin-right: 0px;

		.col-md-1 {
			line-height: 60px;
			padding-left: 0;

			.family-item {
				cursor: pointer;
				padding: 5px 10px;
			}

			.selected {
				background-color: $theme-bk-color;
				border-radius: 15px;
				color: #FFF;
			}
		}
	}

	.bar {
		border-top: 1px solid #F2F2F2;
		height: 60px;
		line-height: 60px;
		position: relative;

		.zone1 {
			display: inline-block;
			float: left;

			.im-checkbox {
				display: inline-block;
				margin-right: 15px;

				.text {
					font-size: .75em;
				}
			}
		}

		.zone2 {
			display: inline-block;
			left: 28%;
			position: absolute;
			right: 34%;
			text-align: center;

			li {
				display: inline-block;
				font-size: .75em;

				.date-item {
					border: 1px solid #F5F6FA;
					cursor: pointer;
					padding: 2px 10px;
				}

				.selected {
					background-color: #FFF;
					border: 1px solid #6A78B9;
					border-radius: 15px;
					color: #6A78B9;
				}
			}
		}

		.zone3 {
			display: inline-block;
			float: right;
			height: 60px;
			line-height: 60px;

			.endtime {
				margin-left: 10px;
			}

			.search {
			    margin-left: 10px;
			    width: 60px;
			    @include im-button(30px);
			    vertical-align: middle;
			}
		}
	}

	.table {
		padding: 0;
		position: relative;
		width: 1200px;

		.chart-table {
			width: 100%;

			.thead ,.tfoot {
				background: $theme-bk-color;
				color: #FFF;

				th {
					border-bottom: 1px solid #5C6DA3;
					height: 35px;
					text-align: center;
				}

				.title-text {
					font-size: .8em;
				}

				.title-number {
					font-size: .8em;

					span {
						font-weight: 100;
					}
				}

				.right-border {
					border-right: 1px solid #5C6DA3;
				}
				.gap {
					width: 4px;
				}

				.checkbox-all {
					.text {
						font-size: 13px;
						font-weight: bold;
					}
				}

				.checked {
					.circle {
						border: 1px solid #EEEEEE;
					}
				}
			}

			.tbody {
				background-color: #FBFBFB;
				border-left: 1px solid #E0E0E0;
				border-bottom: 1px solid #E0E0E0;

				.right-border {
					border-right: 1px solid #E5E5E5;
				}

				.gap {
					width: 4px;
				}

				.bottom-border {
					border-bottom: 1px solid #E5E5E5;
				}

				.selected {
					span {
						background-color: #FA8688;
						border-radius: 50%;
						color: #FFF;
						display: inline-block;
						height: 16px;
						line-height: 16px;
						width: 16px;
					}
				}

				tr {
					height: 35px;

					td {
						color: #A7A7A7;
						font-size: .7em;
						text-align: center;
					  img{
						width: 15px;
						height: 10px;
					  }
					}
				}
			   tr.trEval span{
				color:#333!important;
			  }
			}
		}
	}
}

@media screen and (max-width: 1250px) { 
	.trend-view {
		overflow-x: hidden;
		padding: 0 5px;
		width: 1024px;

		.lotterys {
			font-size: .7em;
		}

		.playing-familys {
			font-size: .7em;
		}

		.options {
			font-size: .9em;
		}

		.bar {
			.zone1 {
				font-size: .9em;
			}

			.zone2 {
				font-size: .9em;
				margin-left: 10px;
				left: 30%;
				right: 34%;

				li {
					display: inline-block;
					font-size: .75em;

					.date-item {
						cursor: pointer;
					}

					.selected {
						background-color: #FFF;
						border-radius: 15px;
						color: #6A78B9;
					}
				}
			}

			.zone3 {
				font-size: .9em;

				.starttime {
					margin-left: 5px;
					width: 130px;

					.time-label {
						font-size: .7em;
					}

					input {
						font-size: .7em;
					}
				}

				.endtime {
					margin-left: 5px;
					width: 130px;

					.time-label {
						font-size: .7em;
					}

					input {
						font-size: .7em;
					}
				}
			}
		}

		.table {
			margin: 0 auto;
			width: 1004px;

			.chart-table {
				#feedback-check1 {
					.text {
						font-size: 1em;
					}
				}

				.thead {
					.title-text {
						font-size: .65em;
					}

					.title-number {
						font-size: .65em;
					}
				}

				.tbody {
					.selected {
						span {
							background-color: #FA8688;
							border-radius: 50%;
							color: #FFF;
							display: inline-block;
							height: 12px;
							line-height: 12px;
							width: 12px;
						}
					}

					tr {
						td {					
							font-size: .65em;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1045px) {
	.trend-view {
		overflow-x: hidden;
		padding: 0 5px;
		width: 1004px;

		.lotterys {
			font-size: .7em;
		}

		.playing-familys {
			font-size: .7em;
		}

		.bar {
			.zone2 {
				margin-left: 5px;
				left: 31%;
				right: 34%;

				li {
					span {
						padding: 0 3px;
					}
				}
				
			}
		}

		.table {
			margin: 0 auto;
			width: 984px;

			.chart-table {
				#feedback-check1 {
					.text {
						font-size: 1em;
					}
				}

				.thead {
					.title-text {
						font-size: .65em;
					}

					.title-number {
						font-size: .65em;
					}
				}

				.tbody {
					.selected {
						span {
							background-color: #FA8688;
							border-radius: 50%;
							color: #FFF;
							display: inline-block;
							height: 12px;
							line-height: 12px;
							width: 12px;
						}
					}

					tr {
						td {					
							font-size: .65em;
						}
					}
				}
			}
		}
	}
}

.missCurrent{
  color: red!important;
}
.blueTrend{
  background-color:#00A2FF!important;
  color:#fff!important;
}
.greenTrend{
  background-color:#86b2fa!important;
  color:#fff!important;
}
.redTrend{
  background-color:#F53F00!important;
  color:#fff!important;
}
.bingoTrend{
  background:url(../img/bingo.png);
}
