$theme-bk-color                             : #6979B5;     
$theme-bk-font-color                        : #FFF;
$theme-font-color                           : #828282;
$trend-view-link-ball-hover-bk-color        : #4F63A8;
$ball-color                                 : #6979B5;
$model-zone-font-highlight-color            : #FF6363;
$left-nav-bk-color                          : #333D61;
$tree-bk-color                              : #333D61;
